{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>django browserid example</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/persona-buttons.css'  %}"
  </head>
  <body>

    <form id="login-form" method="POST" action="/status/">
      {% csrf_token %}
      <input id="assertion-field" type="hidden" name="assertion" value="" />
    </form>

    <p><a class="persona-button" href="javascript:login()"><span>Login with Persona</span></a></p>

    <script src="https://login.persona.org/include.js"></script>
    <script>
      function login() {
          navigator.id.get(function(assertion) {
              if (assertion) {
                  var assertion_field = document.getElementById("assertion-field");
                  assertion_field.value = assertion;
                  var login_form = document.getElementById("login-form");
                  login_form.submit();
              }
          });
      }
    </script>
  </body>
</html>
