<script>
$( document ).ready(function() {
$( ".persona-button" ).click(function( event ) {
personaLogin();
event.preventDefault();
});
});
</script>

<div id="login-form">
<div class="container">
<div id="title"><h2>EasyDash!</h2></div>
<div class="container">
<div class="row">
	<div class="span12">
		<h2>Sign in to Register!</h2>

  	<a href="#" class="persona-button"><span>Sign in with Mozilla Persona</span></a>
  </div>
</div>
</div>
<div id="disclaimer"><p>Wondering where the text fields are? Don't worry! Just use the button instead!</p></div>
</div>
</div>
