<h1>The Index Page!</h1>
<p>This is the Index page, which you'll be redirected to after signing in!</p>
<%= link_to 'Sign in', new_user_session_path %>
<%= link_to 'Sign Out', destroy_user_session_path %>